@using ContosoLending.Ui.Services
@inject ExchangeRateService ExchangeRateService

<div class="input-group-prepend" @onclick="SwitchCurrencyType">
    <button class="btn btn-outline-secondary" type="button">@LoanAmount.CurrencyType</button>
</div>
<InputNumber id="loanAmount" @bind-Value="LoanAmount.Amount" class="form-control" />

@code {
    [Parameter]
    public ViewModels.LoanAmount LoanAmount { get; set; }

    [Parameter]
    public EventCallback<ViewModels.LoanAmount> LoanAmountChanged { get; set; }

    Task SwitchCurrencyType()
    {
        decimal exchangeRate = Convert.ToDecimal(ExchangeRateService.GetExchangeRate());
        LoanAmount.CurrencyType = LoanAmount.CurrencyType == "$" ? "Лв." : "$";

        if (LoanAmount.CurrencyType == "Лв.")
        {
            LoanAmount.Amount = decimal.Round(LoanAmount.Amount / exchangeRate, 2);
        }
        else
        {
            LoanAmount.Amount = decimal.Round(LoanAmount.Amount * exchangeRate, 2);
        }

        return LoanAmountChanged.InvokeAsync(LoanAmount);
    }
}
